$prim: #05c46b;
$alt: #1e272e;

* {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: $alt;
  background-size: cover;
  color: $alt;
}

.content,
.inputcont {
  background: $prim;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background: $prim;
  margin-top: 60px;
  padding-top: 25px;
  padding-bottom: 30px;
  h1 {
    margin-bottom: 20px;
  }
}

.inputcont {
  margin-left: 40%;
  margin-right: 40%;
  border: 2.5px solid;
  border-radius: 10px;
  input {
    width: 100%;
    border-radius: 10px;
    height: 40px;
    font-size: 20px;
    border: none;
  }
}
